* {
    padding: 10px;
    margin: 10px;
}

nav img {

    height: 70px;


}

nav ul {
    display: flex;

}

nav ul li {
    list-style-type: none;
    font-family: Fira code;
    font-size: larger;
    font-weight: bolder;
    display: inline;

}

.nav {}